<!-- Archivo de metadatos del módulo: PrestaShop lo lee para saber el nombre, versión y autor. -->
<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>productbadges</name>
    <displayName><![CDATA[Product Badges]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Manage visual badges for products]]></description>
    <author><![CDATA[Yesenia Ingaruca]]></author>
    <tab>front_office_features</tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>